*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: #b16015;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: url("../img/wrapper-svg.svg");
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  z-index: -1;
}

.wrapper::after {
  content: url("../img/wrapper-aft.svg");
  position: absolute;
  left: 0;
  top: 260px;
  display: block;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapper::before, .wrapper::after {
    display: none;
  }
}

.plus {
  max-width: 1160px;
  margin: auto;
}

.plus__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 979px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}

.plus__info-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 32px;
}

.plus__info-img {
  display: block;
  max-width: 979px;
  height: 582px;
  margin-top: 65px;
}

.plus__input {
  display: none;
}

.plus__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 18px 31px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}

.plus__label-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 163px;
}

.plus__body {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

#info0:checked ~ .plus__label-wrap #info0label,
#info1:checked ~ .plus__label-wrap #info1label,
#info2:checked ~ .plus__label-wrap #info2label,
#info3:checked ~ .plus__label-wrap #info3label {
  background-color: #afb1b3;
  color: #ffffff;
}

#info0:checked ~ #plus-body0,
#info1:checked ~ #plus-body1,
#info2:checked ~ #plus-body2,
#info3:checked ~ #plus-body3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1010px) {
  .plus__info {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 13px;
  }
  .plus__info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 32px;
    padding: 40px;
  }
  .plus__info-img {
    max-width: 90%;
    height: auto;
    margin: 15px;
  }
  .plus__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .plus__label {
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 150%;
    padding: 7px 13px 8px 13px;
  }
  .plus__label-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .plus__info {
    max-width: 100%;
    margin-top: 0;
    padding: 15px;
    margin-bottom: 13px;
  }
  .plus__info-text {
    padding: 15px;
    margin-top: 32px;
  }
  .plus__info-img {
    max-width: 90%;
    height: auto;
    margin: 20px;
  }
  .plus__body {
    margin-top: 14px;
  }
  .plus__pic {
    width: 100%;
  }
  .plus__pic-img {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .plus__info-text {
    font-size: 15px;
    line-height: 17px;
    color: #000000;
  }
}
/*# sourceMappingURL=style.css.map */